.BodyOfCard__container{
    position: relative;
    & .BodyOfCard__info{
        position: absolute;
        top:36px;
        & p, & h3{
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;
            text-transform: capitalize;

            color: #000000;


        }
        & .info__name{
            font-weight: 500;
            margin:0 0 10px 0;
        }
        & .info__oldPrice{
            color: #5C5C5C;
            opacity: 0.8;
            font-size:15px;
            text-decoration: line-through;
        }


    }
    & .BodyOfCard__img{
        
        & img{
            margin: 12px 0 0 70px;
        }
    }
}